.contanier{
    padding: 5% 4% ;
    width: 100%;
}
@font-face{
    font-family:Rubik-Medium ;
    src: url(font/Rubik-Medium.ttf);
}
@font-face{
    font-family:Rubik-Regular ;
    src: url(font/Rubik-Regular.ttf);
}
.icon-link{
    display:flex;
}
.link{
    margin-left: 600px;
}
.link-bookmark:hover{
    color:#828264 ;
}
.Log{
    margin-left: 40px;
    padding: 10px 20px;
    background-color: #FA5959;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.Login:hover{
    background-color: #6475829f;
}
.bookmark{
    font-weight: 900;
    color: #FFFFFF;
    background-color: #5267DF;
    padding: 5px;
    border: none;
    border-radius: 20px;
}
.simple-bookmarmanger{
    display: flex;
    margin-top: 100px;
}
.head{
    font-family:Rubik-Medium ;
    color:  #242A45;
    font-size: 48px;
    padding-bottom: 15px;
}
.para{
    font-family:Rubik-Regular ;
    padding-bottom: 30px;
}
.getin-chrome{
    margin-right: 20px;
    padding: 15px 25px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    background-color: #5267DF;
    color: #fff;
    font-family:Rubik-Medium ;
}
.getin-fox{
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    background-color: #F7F7F7;
    color: #242A45;
    font-size: 14px;
    font-family:Rubik-Medium ;
}
.user-bookmark{
    display: flex;
    margin-top: 5%;
}
.user{
    font-family:Rubik-Medium ;
    font-size: 32px;
    color: #242A45;
}
.GoViral{
    margin-right: 10%;
}
.user-Downlod{
    margin-top: 60px;
}
.down{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}
.More-Info{
    font-size: 14px;
    background-color: #5267DF;
    color: #FFFFFF;
    font-family: Rubik-Medium;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
    margin-right: 20%;
    margin-left: 20%;
}
.c-f-o{
 background-color: #fff;
 text-align: center;
}
.head-social{
    font-family: Rubik-Medium;
    font-size: 20px;
    color: #0B133A;
    padding-bottom: 10px;
    padding-top: 30px;
}
.para-social{
    font-family:Rubik-Regular ;
    font-size: 15px;
    color: #242A45;
}
.button{
    background-color: #5267DF;
    font-family: Rubik-Medium;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}
